.background-color{
    background-color: #b4c1bb;
}
.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}

.root { -fx-background-color: transparent; }


.navbar-color{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}

.img-profile{
    -fx-border-radius: 100%;
}